<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsul.vendas">
    <!-- Para o leitor de código de barras -->
    <uses-feature android:name="android.hardware.camera" /> <!-- Para o leitor de código de barras -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- para acesso ao cartão sd -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation = "portrait">
        <activity android:name=".activity.ProdutoAdminActivity" android:label="Produto Admin"/>
        <activity android:name=".activity.sobreActivity" android:label="Sobre"/>
        <activity android:name=".activity.CarrinhoActivity" android:label="Carrinho"/>
        <activity android:name=".activity.ProdutoDetalheActivity" android:label="Produto detalhe"/>
        <activity android:name=".activity.ClientesActivity" android:label="Clientes"/>
        <activity android:name=".barcode.BarcodeCaptureActivity" android:label="barcode" />
        <activity
            android:name=".activity.ProdutosActivity"
            android:theme="@style/AppTheme.NoActionBar" android:label="Produtos"/>
        <activity android:name=".activity.LoginActivity" android:label="Vendas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--</activity>-->
    </application>

</manifest>